name: ci

on:
  # 手动触发事件
  workflow_dispatch:
    inputs:
      enable:
        description: "启用或禁用自动 GitHub 自动全绿功能"
        required: true
        default: 'true'
        type: choice
        options:
          - 'true'
          - 'false'
  push:
    branches:
      - master
  schedule:
    # 每 15 分钟尝试触发一次，一天有 96 个 15 分钟的时间段
    - cron: "*/15 * * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    # 检查是否满足触发条件
    if: |
      (github.event_name == 'schedule' &&
        (
          "`expr ${{ github.run_number }} % 4`" == "0" ||
          "`expr ${{ github.run_number }} % 3`" == "0" ||
          "`expr ${{ github.run_number }} % 2`" == "0"
        )
      ) ||
      github.event_name == 'push' ||
      (github.event_name == 'workflow_dispatch' && github.event.inputs.enable == 'true')
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Auto green
        run: |
          set -e
          git config --local user.email ${{ secrets.EMAIL }}
          git config --local user.name ${{ secrets.NAME }}
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          # 定义 2023 年指定日期列表
          dates=("2023-04-02" "2023-04-05" "2023-04-06" "2023-04-07" "2023-04-08" "2023-04-09" "2023-04-12" "2023-04-15" "2023-04-16" "2023-04-19" "2023-04-22" "2023-04-23" "2023-04-26" "2023-04-29" "2023-04-30" "2023-05-01" "2023-05-02" "2023-05-03" "2023-05-06" "2023-05-21" "2023-05-22" "2023-05-23" "2023-05-24" "2023-05-25" "2023-05-26" "2023-05-27" "2023-05-28" "2023-06-03" "2023-06-04" "2023-06-10" "2023-06-11" "2023-06-17" "2023-06-18" "2023-06-19" "2023-06-20" "2023-06-21" "2023-06-22" "2023-06-23" "2023-06-24" "2023-07-09" "2023-07-12" "2023-07-13" "2023-07-14" "2023-07-15" "2023-07-16" "2023-07-19" "2023-07-22" "2023-07-23" "2023-07-26" "2023-07-29" "2023-07-30" "2023-08-02" "2023-08-05" "2023-08-06" "2023-08-07" "2023-08-08" "2023-08-09" "2023-08-12" "2023-08-27" "2023-08-30" "2023-09-02" "2023-09-03" "2023-09-06" "2023-09-09" "2023-09-10" "2023-09-13" "2023-09-16" "2023-09-17" "2023-09-20" "2023-09-23" "2023-09-24" "2023-09-27" "2023-09-30" "2023-10-01" "2023-10-02" "2023-10-03" "2023-10-04" "2023-10-05" "2023-10-06" "2023-10-07")
          start_date="2023-01-01"  
          end_date="2023-12-31"
          current_date=$start_date
          while [ "$(date -d "$current_date" +%s)" -le "$(date -d "$end_date" +%s)" ]; do
            if printf '%s\n' "${dates[@]}" | grep -qx "$current_date"; then
              commit_count=$((RANDOM % 6 + 5))  # 生成 5 - 10 之间的随机数
              for ((i = 0; i < commit_count; i++)); do
                random_time=$(printf "%02d:%02d:%02d" $((RANDOM % 24)) $((RANDOM % 60)) $((RANDOM % 60)))
                datetime="$current_date $random_time"
                export GIT_COMMITTER_DATE="$datetime"
                export GIT_AUTHOR_DATE="$datetime"
                commit_message="Keep writing documents at $datetime (Commit $((i + 1)))"
                git commit --allow-empty -m "$commit_message"
              done
            else
              random_time=$(printf "%02d:%02d:%02d" $((RANDOM % 24)) $((RANDOM % 60)) $((RANDOM % 60)))
              datetime="$current_date $random_time"
              export GIT_COMMITTER_DATE="$datetime"
              export GIT_AUTHOR_DATE="$datetime"
              commit_message="Keep writing documents at $datetime"
              git commit --allow-empty -m "$commit_message"
            fi
            current_date=$(date -d "$current_date + 1 day" +%Y-%m-%d)
          done
          git push    
